header {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  border-bottom: 0.3rem solid darkgrey;
}

h1 {
  color: blue;
  grid-column: 1/span 2;
  margin-left: 1rem;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: darkgrey;
  font-size: 12px;
}
